<app-header  title="Perfil"></app-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-avatar class="perfil" ><img class="perfil" [src]="user()?.imagen"></ion-avatar>
    
    <ion-img class="perfil" [src]="user()?.imagen"></ion-img>
    <ion-button (click)="takeimage()" expand="block" fill="clear" shape="round" >Tomar foto</ion-button>
    <h1 class="user">{{user().name}}</h1>
    <ion-item button detail>
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Editar Perfil</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Detalles cuenta</ion-label>
    </ion-item>
  </div>
  

</ion-content>
