<app-header  title="Historial de viajes"></app-header>
<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Viaje</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Fecha</p>
      <p>Dirección partida</p>
      <p>Dirección destino</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Viaje</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Fecha</p>
      <p>Dirección partida</p>
      <p>Dirección destino</p>
    </ion-card-content>
  </ion-card>

  
</ion-content>
